@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background: #F8F2EB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.container{
    border-radius: 3rem;
    background: #F7FFF7;
    max-width: 80dvw;
    margin: 5dvh;
    padding: 4rem;
}
h1{
    text-align: center;
    padding-bottom: 1rem;
}
p{
    padding-bottom: 1rem;
}